:root {
  --theme-color: #e65f78;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* color  */
.spa-color {
  color: var(--theme-color);
}
.mybtn{
background-color: var(--theme-color);
position: fixed;
right: 30px;
bottom: 35px;
width: 35px;
height: 35px;
color: white;
text-align: center;
line-height: 36px;
display: none;
}
.mybtn i{color: white;}
body {
  font-family: Nunito, sans-serif;
  overflow: hidden;
}
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
#home {
  background-image: url("../images/header-bg.jpg");
  background-size: 100% 100%;
  color: #fff;
  height: 100vh;
  background-position: center;
  text-align: center;
}
#home .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
#home .overlay .caption {
  height: 100%;
}
#home .overlay .caption h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 15px;
}
#home .overlay .caption p {
  width: 35%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
}
#home .overlay .caption .cv {
  border: 2px solid #fff;
  padding: 16px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#home .overlay .caption .cv:hover {
  background-color: #fff;
  color: black;
}
nav {
  width: 100%;
  z-index: 1000;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
/* nav.linkcolor{color: var(--theme-color) !important;}
 */
 nav.black {
  background-color: rgb(255, 255, 255) !important;
  padding: 5px 0px;
  border-bottom:2px solid white ;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: var(--theme-color) !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--theme-color) !important;
}
.navbar-light .navbar-brand {
  color: rgb(255, 255, 255) !important;
}

.navbar .container .logo {
  font-family: Nunito, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}
.black .navbar-nav .nav-link,
.black .navbar-brand {
  color: black !important;
}

.navbar .navbar-collapse ul li a {
  font-size: 15px;
  margin: 0 7px;
  font-weight: 500;
  transition: all 0.5s;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#home .color-setting {
  
  width: 189px;
  position: fixed;
  top: 17%;
  left: 0;
  z-index: 999;
}
.color-palet{background-color: rgb(255, 255, 255);padding: 10px;}
.color-palet h3 {
  color: rgb(33, 37, 41);
  font-size: 16px;
  margin: 10px 8px;
}
.color-palet ul li {
  width: 35px;
  height: 35px;
  border-radius: 16px 16px 0;
  -webkit-border-radius: 16px 16px 0;
  -moz-border-radius: 16px 16px 0;
  -ms-border-radius: 16px 16px 0;
  -o-border-radius: 16px 16px 0;
  background-color: red;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}
#home .color-setting .color-palet .color1 {
  background-color: #e65f78;
}
.color-palet .color2 {
  background-color: #37b8df;
}
.color-palet .color3 {
  background-color: #31b164;
}
.color-palet .color4 {
  background-color: #5d69f6;
}
.color-palet .color5 {
  background-color: #87ceeb;
}
.color-palet .color6 {
  background-color: #f2b31a;
}
#home .home-setting {
  background-color: #2b2424;
  background-attachment: scroll;
  width: 35px;
  position: absolute;
 top: 0;
 left: 100%; 
  padding: 4px;
  display: block;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
#loading{
  position: fixed;
  top:0;
  bottom: 0;
  right:0;
  left: 0;
  background-color: orange;
  z-index: 30000;
 
}
.home-setting .setting-icon {
  font-size: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 3px;
  cursor: pointer;
 
}
#home .scroll-down {
  padding: 23px 13px;
  border: 2px solid #fff;
  border-radius: 20px;
  position: absolute;
  bottom: 5vh;
  animation: scroll 1.5s infinite;
  -webkit-animation:;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#home .scroll-down:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  background-color: #fff;
  left: 12px;
}
@keyframes scroll {
  0% {
    bottom: 50px;
  }
  20% {
    bottom: 50px;
  }
  40% {
    bottom: 30px;
  }
  60% {
    bottom: 35px;
  }
  80% {
    bottom: 30px;
  }
  90% {
    bottom: 35px;
  }
  100% {
    bottom: 50px;
  }
}

#about p {
  padding-top: 0.1rem;
  font-size: 15px;
  font-weight: 400;
  color: rgb(108, 117, 125);
}
#about .about-social-ico a {
  color: #000;
  line-height: 20px;
  margin-right: 10px;
  font-size: 20px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  text-align: center;
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
}
#about .about-social-ico a:hover {
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
}

#services,
#hire-me {
  background-color: #f8f9fa;
}
#services .services-top p {
  font-size: 16px;
  color: #6c757d;
  padding-bottom: 5rem;
}
#services .spa-service {
  font-weight: 700;
}
#services .service-box {
  color: rgb(108, 117, 125);
  font-size: 14px;
  font-weight: 400;
}
#services .service-box h5 {
  font-weight: 600;
  color: #000;
}
#services .service-box i {
  color: var(--theme-color);
}
#services .service-box .line {
  width: 35px;
  height: 2px;
  background-color: var(--theme-color);
  margin: 10px auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#services .service-box:hover .line {
  width: 55px;
}

.freelance {
  padding: 60px 5px;
}
.freelance a {
  margin-top: 1rem;
  background-color: var(--theme-color);
  color: white;
  padding: 10px 30px;
}
.freelance a:hover {
  color: white;
}
/*   media Query      */
@media screen and (max-width: 766px) {
  nav,
  .navbar-light {
    background-color: #fff;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black !important;
  }

  .navbar-light .navbar-brand,
  .navbar-light .navbar-brand:hover {
    color: black !important ;
  }
  #home .overlay .caption h1 {
    font-size: 30px;
  }
  #home .overlay .caption p {
    width: 100%;
  }
}
/*spinner*/
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 25% auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}